<% title(@program.title, "Program") %>
<h2>"Programs"</h2>
<tr>
	<td><%= @program.title %></td>
	<td><%= @program.owner %></td>
</tr>
<%= link_to "Edit Program", edit_program_path(@program) %>
<%= link_to "Delete Program", 
		program_path(@program),
		:method => :delete,
		:confirm => "Are you sure you want to delete this program?" %>